.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
  

  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
        /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  }

  .profile{
    background: linear-gradient(45deg, #83ec83, #233cca);
    background: white;
  } 
 .profile .button {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #269639;
    --bg-color: #269639;
    --main-color: #dedede;
    position: relative;
    width: 240px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
.profile  .button,.profile  .button__icon,.profile  .button__text {
    transition: all 0.3s;
  }
  
.profile  .button .button__text {
    transform: translateX(25px);
    color: var(--font-color);
    font-weight: 600;
  }
  
.profile  .button .button__icon {
    position: absolute;
    transform: translateX(189px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.profile  .button .svg {
    width: 20px;
    stroke: var(--main-color);
  }
  
.profile  .button:hover {
    background: var(--bg-color);
  }
  
 .profile .button:hover .button__text {
    color: transparent;
  }
  
 .profile .button:hover .button__icon {
    width: 225px;
    transform: translateX(0);
  }
  
 .profile .button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }

  /*      MINE        */

  .profile .mine .button {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #297bf7;
    --bg-color: #297bf7;
    --main-color: #dedede;
    position: relative;
    width: 210px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
.profile .mine  .button,.profile .mine .button__icon,.profile .mine .button__text {
    transition: all 0.3s;
  }
  
.profile .mine  .button .button__text {
    transform: translateX(25px);
    color: var(--font-color);
    font-weight: 600;
  }
  
.profile .mine  .button .button__icon {
    position: absolute;
    transform: translateX(159px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.profile .mine  .button .svg {
    width: 20px;
    stroke: var(--main-color);
  }
  
.profile .mine  .button:hover {
    background: var(--bg-color);
  }
  
 .profile .mine .button:hover .button__text {
    color: transparent;
  }
  
 .profile .mine .button:hover .button__icon {
    width: 205px;
    transform: translateX(0);
  }
  
 .profile .mine .button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }



  .my-Btn {
    
    margin: 1% 1% 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  

  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .my-Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .my-Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
  }
  /* hover effect button's text */
  .my-Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .2s;
    padding-right: 10px;
  }
  
  /* button click effect*/
  .my-Btn:active {
    transform: translate(2px ,2px);
  }


  .my-column{
    display: flex;
    flex-direction: column;
  }